In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('fii.xlsx')

In [3]:
df.head()

,Código do fundo,Setor,Preço Atual,Liquidez Diária,Dividendo,Dividend Yield,DY (3M) Acumulado,DY (6M) Acumulado,DY (12M) Acumulado,DY (3M) Média,...,Patrimônio Líq.,VPA,P/VPA,DY Patrimonial,Variação Patrimonial,Rentab. Patr. no Período,Rentab. Patr. Acumulada,Vacância Física,Vacância Financeira,Quantidade Ativos
0,FIVN11,Shoppings,2.30,2386.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6.574644e+07,6.98,0.33,NaN,NaN,NaN,NaN,56.00,NaN,1
1,BZLI11,Títulos e Val Mob,14.70,44041.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.329047e+08,10.82,1.36,NaN,NaN,NaN,NaN,NaN,NaN,0
2,XTED11,Lajes Corporativas,6.20,497.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.739193e+07,13.94,0.44,NaN,NaN,NaN,NaN,0.00,100.0,1
3,ALMI11,Lajes Corporativas,940.00,12.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.504877e+08,2253.05,0.42,NaN,NaN,NaN,NaN,64.05,NaN,1
4,PABY11,Híbrido,8.07,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-9.922350e+05,-11.99,-0.67,NaN,NaN,NaN,NaN,NaN,NaN,1

In [4]:
df.columns

Index(['Código do fundo', 'Setor', 'Preço Atual', 'Liquidez Diária',
       'Dividendo', 'Dividend Yield', 'DY (3M) Acumulado', 'DY (6M) Acumulado',
       'DY (12M) Acumulado', 'DY (3M) Média', 'DY (6M) Média',
       'DY (12M) Média', 'DY Ano', 'Variação Preço', 'Rentab. Período',
       'Rentab. Acumulada', 'Patrimônio Líq.', 'VPA', 'P/VPA',
       'DY Patrimonial', 'Variação Patrimonial', 'Rentab. Patr. no Período',
       'Rentab. Patr. Acumulada', 'Vacância Física', 'Vacância Financeira',
       'Quantidade Ativos'],
      dtype='object')

In [5]:
df['Setor'].value_counts()

Títulos e Val Mob     89
Híbrido               47
Lajes Corporativas    41
Outros                37
Shoppings             22
Logística             22
Residencial           10
Hospital               3
Hotel                  3
Name: Setor, dtype: int64

In [14]:
Newdf = df[(df['Setor']=='Logística') & 
           (df['Dividend Yield']>=0.5) &
           (df['Quantidade Ativos'] >= 5) &
           (df['Preço Atual'] <= df['VPA']*1.1) &
           (df['Preço Atual'] >= df['VPA']*0.80)]
           #(df['Rentab. Período'] >= 0)
          
        
Newdf['Mil_investido'] = (1000//Newdf['Preço Atual'])*Newdf['Dividendo']

C:\Users\Familia_Uchoa\AppData\Local\Temp\ipykernel_2352\572137801.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Newdf['Mil_investido'] = (1000//Newdf['Preço Atual'])*Newdf['Dividendo']

In [15]:
Newdf.sort_values(by='Mil_investido',ascending=False)[['Código do fundo','Setor','Preço Atual','VPA','Dividendo',
                                                       'Dividend Yield','Vacância Física','Quantidade Ativos','Rentab. Período',
                                                       'Mil_investido']]

,Código do fundo,Setor,Preço Atual,VPA,Dividendo,Dividend Yield,Vacância Física,Quantidade Ativos,Rentab. Período,Mil_investido
34,GGRC11,Logística,109.00,132.11,0.88,0.82,0.0,15,3.80,7.92
219,FIIP11B,Logística,162.42,200.62,1.28,0.78,0.0,7,0.60,7.68
20,SDIL11,Logística,92.55,97.53,0.76,0.83,2.6,5,2.10,7.60
159,LVBI11,Logística,100.00,114.78,0.72,0.71,0.5,10,2.67,7.20
198,VILG11,Logística,98.97,113.87,0.70,0.71,0.0,16,-3.22,7.00
267,XPLG11,Logística,96.68,111.51,0.66,0.68,8.8,13,6.54,6.60
75,RBRL11,Logística,88.89,106.57,0.60,0.70,0.0,6,-5.93,6.60
130,BTLG11,Logística,103.87,99.03,0.72,0.70,NaN,16,1.48,6.48
254,BRCO11,Logística,98.84,118.80,0.63,0.65,0.0,10,-1.98,6.30
146,ALZR11,Logística,114.98,108.51,0.76,0.69,0.0,15,-4.48,6.08